.contacts {
  padding: 60px 0;
}

.contacts__container {
  position: relative;
  justify-content: space-between;
}

.contacts__box {
  position: absolute;
  top: -24px;
  right: 110px;
  width: 550px;
  height: 275px;
  background-image: url('../../img/Ellipse\ 2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.contacts__pic {
  width: 70px;
  height: 70px;
}

.contacts__left {
  width: 44.8%;
}

.contacts__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: var(--color-black);
}

.contacts__descr {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-black);
}

.contacts__right {
  position: relative;
  width: 41.7%;
}

.contacts__list-social {
  position: absolute;
  flex-wrap: wrap;
  width: 100%;
  bottom: 0;
}

.contacts__item-social:not(:nth-child(4n)) {
  margin-right: 90px;
}

.contacts__item-social:nth-child(-n+4) {
  margin-bottom: 20px;
}

.contacts__item-social:nth-child(5n) {
  padding-left: 70px;
}
